<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twine.arca_app">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".myAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="arca_app.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.twine.arca_app.models.Usuario,
            com.twine.arca_app.models.Comercio,
            com.twine.arca_app.models.Comercio_Categoria,
            com.twine.arca_app.models.Comercio_Rating,
            com.twine.arca_app.models.Descuento,
            com.twine.arca_app.models.Cupon,
            com.twine.arca_app.models.Empleado,
            com.twine.arca_app.models.Producto,
            com.twine.arca_app.models.Factura"/>

        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_tab"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainTabActivity_"
            android:label="@string/title_activity_main_tab"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity_"
            android:theme="@style/AppTheme.Dark"></activity>
        <activity
            android:name=".LoginActivity_"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".CuponActivity_"
            android:label="@string/title_activity_cupon"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ComercioActivity_"
            android:label="@string/title_activity_comercio"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>